@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700;800&display=swap");

.user {
    padding: 10vh 0 3rem;
    position: relative;
}

.title {
    color: #000;
    font-size: 3rem;
    font-weight: 700;
    font-family: Sora, "sans-serif";
}

.content {
    width: 100%;
}

.content .item {
    border-radius: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.22);
    padding: 1rem 0.3rem;
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;
}

.content .item img {
    height: 100%;
    max-width: 200px;
    max-height: 93px;
    object-fit: cover;
    cursor: pointer;
}
