@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700;800&display=swap");

.heroSection {
    padding: 10vh 0 5vh;
}

.wrapper {
    align-items: center;
    margin-top: 10vh;
}

.heroText h1 {
    font-family: "Sora", sans-serif;
    font-size: 56px;
    line-height: 120%;
    font-weight: 700;
    letter-spacing: 0;
    margin: 0 0 24px;
}

.heroText p {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 24px;
    font-weight: 400;
}

.heroText button {
    min-height: 64px;
    padding: 20px 24px;
    border-radius: 16px;
    font-size: 20px !important;
    line-height: 26px;
}

.heroImg {
    position: relative;
}

.iconNote {
    position: absolute;
    top: -5%;
    left: 30%;
    width: 40px;
    height: auto;
    transform: rotate(20deg);
    animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    -moz-animation: bounce 2s infinite;
    -o-animation: bounce 2s infinite;
}

.iconCalendar {
    position: absolute;
    top: 30%;
    right: 0;
    width: 50px;
    height: auto;
    transform: rotate(20deg);
    animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    -moz-animation: bounce 2s infinite;
    -o-animation: bounce 2s infinite;
}

.iconWrite {
    position: absolute;
    bottom: 15%;
    left: -10%;
    width: 80px;
    height: auto;
    transform: rotate(20deg);
    animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    -moz-animation: bounce 2s infinite;
    -o-animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translate(-50%, 0);
    }
    40% {
        transform: translate(-50%, -10px);
    }
    60% {
        transform: translate(-50%, -5px);
    }
}

@-moz-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translate(-50%, 0);
    }
    40% {
        transform: translate(-50%, -10px);
    }
    60% {
        transform: translate(-50%, -5px);
    }
}

@-o-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translate(-50%, 0);
    }
    40% {
        transform: translate(-50%, -10px);
    }
    60% {
        transform: translate(-50%, -5px);
    }
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translate(-50%, 0);
    }
    40% {
        transform: translate(-50%, -10px);
    }
    60% {
        transform: translate(-50%, -5px);
    }
}

@media screen and (max-width: 992px) {
    .heroImg {
        position: relative;
        margin-top: 50px;
    }

    .iconWrite {
        top: -30%;
        left: unset;
        right: 10%;
    }
}

@media screen and (max-width: 767px) {
    .heroText h1 {
        font-size: 44px;
    }

    .heroText p {
        font-size: 16px;
        line-height: 24px;
    }

    .heroText button {
        min-height: 44px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 10px;
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 479px) {
    .heroText h1 {
        font-size: 32px;
    }

    .iconWrite, .iconCalendar, .iconNote {
        display: none;
    }
}
