.background {
  width: 100%;
  background-image:linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/src/assets/image/background-4.jpg);
  padding-top: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form {
    width: 70%;
    background-color: transparent;
    margin: 0 auto 50px;
    border-radius: 20px;
  }
  .form h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    padding: 10px 0;
    /* background-color: #26282b; */
    font-weight: 600;
    color: #fff;
    margin-bottom: 0;
    border-radius: 20px 20px 0 0 ;
  }
  .form .main {
    padding: 20px;
  }
  .form .main input {
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    text-decoration: none !important;
    border-width: 0;
    color: #fff;
    transition: all 0.5s;
  }
  .form .main input:focus{
    border-color: #fff;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.678);
    border-width: 100%;
    
  }
  .form .main label {
    color: #fff !important;
   
  }
.form button {
  margin: 0 auto;
  display: block;
  padding: 4px 20px;
}
  .error {
    color: red;
    margin-top: 5px
  }
  @media screen and (max-width:576px) {
    .form {
      width: 90%;
    }
    label {
      font-size: 10px !important;
    }
  }
  @media screen and (max-width:768px) {
    .form {
      width: 90%;
    }
    label {
      font-size: 12px !important;
    }
  }