h1 {
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 0;
}

.myTable th {
    text-align: center !important;
    background: #26282b !important;
    color: #fff !important;
  }
  .myTable tbody {
    text-align: center !important;
  }
  
  .myTable ul {
    background-color: #26282b ;
    margin: 0 !important;
    padding: 10px 0 ;
    border-radius: 0 0 12px 12px ;
  }
  @media screen and (max-width:576px) {
    .myTable ul {
      background-color: #fff;
    }
  }