.background {
  width: 100%;
  padding-top: 40px;
  background-image:linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/src/assets/image/background-4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 20px;
}
.form {
  width: 70%;
  background-color: #fff;
  margin: 0 auto 50px;
  padding: 20px;
  border-radius: 20px;
}
.form h1 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
}
.form button {
  margin: 0 auto;
  display: block;
  padding: 4px 20px;
}
.error {
  color: red;
  margin-top: 5px;
}
@media screen and (max-width:576px) {
  .form {
    width: 90%;
  }
  label {
    font-size: 10px !important;
  }
}
@media screen and (max-width:768px) {
  .form {
    width: 90%;
  }
  label {
    font-size: 12px !important;
  }
}
@media screen and (max-width:992px) {
  .form {
    width: 80%;
  }
}